<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b09a4bc7-d217-4c33-b140-772ce5e8e890/resourceGroups/ServiceFabricMesh/providers/Microsoft.ContainerRegistry/registries/ContainersSFM</ResourceId>
    <ResourceName>ContainersSFM</ResourceName>
    <ResourceGroup>ServiceFabricMesh</ResourceGroup>
    <Subscription>Visual Studio Enterprise with MSDN</Subscription>
    <RegistryUrl>https://containerssfm.azurecr.io/</RegistryUrl>
    <UserName>ContainersSFM</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a942863e-7a3b-443e-8863-106a00787c27</ProjectGuid>
  </PropertyGroup>
</Project>